<!doctype html>
<title>{% block title %}{% endblock %} - monSite</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Basic Website</h1>
  <ul>
      <li><a href="{{ url_for('bv.index') }}">Home</a>
      <li><a href="{{ url_for('bv.about') }}">About Us</a>
      <li><a href="{{ url_for('bv.contact') }}">Contact Us</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
